*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    scroll-behavior: smooth;
}

body{
    background: url(img/pattern.png);
    background-size: cover;
    background-color: rgb(240, 240, 240);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.slider{
position:relative;
margin:0 auto;
width:1000px;
height:490px;
overflow:hidden
}

.slider figure div{
    width: 20%;
    float: left;
}

.slider figure img{
    width: 100%;
    float: left;
}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}

@keyframes slidy{
    0%{
        left: 0%
    }

    10%{
        left: 0%;
    }

    12%{
        left: -100%;
    }

    22%{
        left: -100%;
    }

    24%{
        left: -200%;
    }

    34%{
        left: -200%;
    }

    36%{
        left: -300%;
    }

    46%{
        left: -300%;
    }

    48%{
        left: -400%;
    }

    58%{
        left: -400%;
    }

    60%{
        left: -300%;
    }

    70%{
        left: -300%;
    }

    72%{
        left: -200%;
    }

    82%{
        left: -200%;
    }

    84%{
        left: -100%;
    }

    94%{
        left: -100%;
    }

    96%{
        left: 0%;
    }

    100%{
        left: 0%;
    }
}

.content {
    max-width: 50%;
    height: 100px;
    margin-top: 8px;
    margin-left: 10%;
    /* position: relative; */
    /* background: white; */
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.content h1{
    color: #0f6ea5;
    font-size: 40px;
    margin-left: -4px;
}
    
.content h5{
    color: rgb(10, 90, 136);
    font-size: 20px;
    /* text-transform: uppercase; */
}

.content p{
    margin-top: -10px;
}

.content button{
    width: 140px;
    height: 40px;
    background: rgb(15, 110, 165);
    border: none;
    margin-left: -100px;
    border-radius: 5px; 
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.content button a{
    text-decoration: none;
    font-size: 20px;
    margin-top: -1000px;
    color: white;
    font-weight: bold;
}

.content button:hover {
    background: red;
}

.content img{
    position: absolute;
    right: 4%;
    top: 20%;
    width: 600px;
}

.sidebar {
    position: absolute;
    background: rgb(202, 201, 201); 
    width: 21%;
    height: 100%;
    top: 0;
    left: -50%;
    display: inline-block;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    transition: .7s;
    z-index: 9999;
}

.sidebar.active{
    left: 0;
}

button.hide-btn{
    position: absolute;
    border: none;
    background: none;
    font-size: 24px;
    right: 8px;
    top: 5px;
    color: rgb(94, 91, 91);
    cursor: pointer;
    outline: none;
    transition: .5s;
}

.logo {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.sidebar ul {
    padding: 8px;

}

.sidebar ul li {
    padding: 8px;
    cursor: pointer;
}

.sidebar ul li:hover{
    background: gray;
    color: white;
}

.sidebar ul li a{
    text-decoration: none;
    color: rgb(94, 91, 91);
    font-size: 18px;
}


.login{
    position: absolute;
    width: 460px;
    height: 500px;
    background: white;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: .9;
    z-index: 1;
    transition: .5s;
    text-align: center;

}

.box{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: gray;
    z-index: -1;
    opacity: 0;
}

.box.active{
    opacity: .8;
    z-index: 1;
}

.login.active{
    top: 50%;
}

.login h1{
    text-align: center;
    padding: 50px;
}

.login input[type=text],
.login input[type=password]
{
    display: block;
    padding: 8px 8px;
    border: 1px solid gray;
    border-radius: 20px;
    background: none;
    outline: none;
    text-align: center;
    width: 60%;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-top: 12px;
}

.login input[type=submit]{
    height: 36px;
    border: 1px solid;
    background: rgb(15, 110, 165);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;

    cursor: pointer;
    transition: .5s;
    border: none;
    width: 64%;
    margin-top: 24px;
    margin-bottom: 20px;
}

.login input[type=submit]:hover{
    background: red;
}





.gallery{
    background: white;
    text-align: center;
    height: 670px;
}

.gallery h1{
    padding-top: 40px;
}

hr.ln{
    height: 4px;
    background-color: black;
    width: 20%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.gallery .product{
    display: inline-flex;
}

.gallery .product-item a{
    cursor: default;
}

.gallery .product-item img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 5px;
    /* background: black; */
    cursor: pointer;
}

.gallery .product-item a img:hover{
    opacity: .5;
}


.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    transition: .8s;
    text-align: center;
    line-height: 800px;
}

.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}

.overlay img{
    width: 600px !important;
    height: 600px !important;
    margin-top: 30px;
    background: white;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
}

.overlay a.close{
    position: absolute;
    right: 28%;
    top: 6%;
    cursor: pointer;
    text-decoration: none;
    background: none;
    /* border: 1px solid white; */
    line-height: 20px;
    width: 70px;
    border-radius: 20px;
    padding: 4px;
    color: rgb(56, 56, 56);
    font-weight: bold;
    z-index: 9999;
    opacity: .8;
    font-size: 28px;
}

.overlay a.close:hover{
    color: black;
}

.overlay a.store{
    position: absolute;
    bottom: 10%;
    right: 50%;
    margin-right: -32px;
    cursor: pointer;
    text-decoration: none;
    background: rgb(56, 56, 56);
    line-height: 20px;
    border-radius: 20px;
    width: 70px;
    padding: 4px;
    color: white;
    font-weight: bold;
    z-index: 9999;
    opacity: .8;
    text-transform: uppercase;
}

.overlay a.store:hover{
    background: black;
}


.search{
    /* background: yellow; */
    width: 100%;
    height: 40px;
}

.search input{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(177, 176, 176);
    font-size: 16px;
    outline: none;
}

.search i{
    font-size: 20px;
    cursor: pointer;
    text-align: center;

}

.brand{
    margin-bottom: 10px;
    width: 81.5%;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    background: white;
} 

.prod{
    cursor: pointer;
    width: 177px;
    height: 280px;
    background: white;
    display: inline-block;
    margin-left: 2px;
    /* min-width: 50%; */
    margin-bottom: 20px;
}
.prod:hover{
    box-shadow: 0 0 7px rgba(0, 0, 200, .5);
}

.prod img{
    width: 177px;
    height: 180px;
    background: rgb(233, 233, 233);
}

.prod p{
    color: red;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    margin: auto;
    margin-top: 3px;
    /* margin-left: 12px; */
}

.prod h5{
    font-size: 15px;
    margin: auto;
    margin-top: 10px;
    /* margin-left: 12px; */
    width: 150px;
}

.brand-img {
    background: white;
    position: relative;
    min-width: 85%;
    width: 85%;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.brand-img img{
    position: relative;
    width: 1150px;
    height: 300px;
}

.new-prod{
    position: relative;
    font-style: italic;
    font-size: 20px;
    padding: 10px 0;

}

.ln-prod{
    height: 1px;
    width: 100% !important;
    /* box-shadow: 0 0 1px rgba(0, 0, 0, .5); */
    background: rgb(207, 206, 206);
    border: none;
    margin-bottom: 20px;
}

.product-box {
    width: 70%;
    height: 600px;
    background: white; 
    margin: auto;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,5%);
    display: inline-flex;
}

.product-img img{
    width: 500px;
    height: 100%;
    object-fit: scale-down;
    background: rgb(233, 233, 233);
}

.product-info{
    /* background: yellow; */
    position: relative;
    width: 100%;
    /* float: right; */
}

.product-info h1{
    font-size: 28px;
    margin: 40px 20px;
    margin-bottom: 5px;
    color: rgb(80, 80, 80);
}

.product-info span{
    font-weight: 500;
    color: rgb(102, 102, 102);
}

.product-info h5{
    font-size: 18px;
    margin: 0 20px;
    color: rgb(44, 44, 44);
}

.product-info p{
    font-size: 16px;
    margin: 20px 20px;
    color: rgb(110, 110, 110);
    font-weight: 800;
}

.fa-star{
    color: rgba(230, 161, 15, 0.904);
}

p.price{
    color: red;
    font-size: 20px;
}

hr.ln-item{
    width: 91%;
    height: 1px;
    margin-left: 20px;
    background: rgb(151, 151, 151);
    border: none;
}

.buy{
    margin: 20px;
    /* background: red;  */
}

.buy input[type=button]{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: none;
    background: rgb(42, 144, 240);
    color: white;
    border: none;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.buy input[type=button]:hover{
    background: blue;
}

.buy input[type=text]{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    outline: none;
    font-size: 18px;
    width: 50px;
    height: 30px;
    text-align: center;
    color: black;
}

.buy p{
    color: rgb(53, 53, 53);
    /* display: inline-block; */
    margin-right: 16px;
    font-size: 16px;
}

.buy textarea{
    overflow: hidden;
    width: 300px;
    max-height: 100px;
    border: 1px solid rgb(107, 107, 107);
    font-size: 16px;
    padding: 8px;
}




.buy .buy-btn{
    width: 100px !important;
    height: 36px;   
    background: rgb(42, 144, 240);
    cursor: pointer;
    border: none;   
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    text-transform: uppercase;
    bottom: 5%;
    right: 5%;
}

.buy .buy-btn:hover{
    background: blue;
}

.ml-20{
    margin-left: 50px !important;
}


.about{
    height: 670px;
}

.about h1{
    padding-top: 40px;
    text-align: center;
}

.profile{
    width: 480px;
    height: 400px;
    /* background: white; */
    margin: auto;
    text-align: center;
}

.profile img{
    width: 100px;
    border-radius: 50%;
    margin-top: 40px;
    cursor: pointer;
    transition: .5s;
    z-index: 9999999;
}

.profile img:hover{
    filter: grayscale(100%);

}

.profile img.hide{
    width: 50px;
    opacity: .3 ;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    z-index: -1 !important;

}

.about .profile h1{
    font-size: 20px;
    margin-top: -30px;
}

.profile p{
    margin-top: 20px !important;
    max-width: 400px;
    margin: auto;
    font-style: italic;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 414px;
    background: white;
    border-radius: 0;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 50px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

.search-bar{
    width: 500px !important;
    margin-top: -20px;
}


.footer{
    margin-top: 500px;
    float: left;
    width: 95%;
    padding: 2.5%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #000;
    font-family: 'ArialMT';
    color: #FFF;
    line-height: 1.5em;
}
.footer .left{
    float: left;
    width: 100%;
}
.footer .left .side{
    float: left;
    width: 20%;
}
.footer .left .side .name{
    float: left;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .left .link_inf{
    font-family: 'ArialMT';
    float: left;
    width: 100%;
    font-size: 14px;
    color: #FFF;
    line-height: 1.3em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.footer .left .link_inf:hover{
    color: #CCC;
}


.footer .left .link_sos{
    color: #FFF;

}
.footer .left .link_sos:hover{
    color: #CCC;
}

.footer .right{
    float: left;
    width: 100%;
  padding-top: 30px;
}
.footer .right .chat{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.footer .right .text{
    float: left;
    width: 100%;
  font-size: 12px;
    text-align: center;
}
}
@media screen and (min-width: 1120px){
.container_24{
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}
#cssmenu > ul > li > a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #282626;
    font-size: 15px;
    transition: all 0.5s ease 0s; 
    -webkit-transition: all 0.5s ease 0s;
}
.header1 .cari .input{
  float: right;
  width: 150px;
  height: 33px;
  background: #FFF;
  padding-left: 10px;
  border: none;
  font-family: 'Arial-BoldMT';
  font-size: 12px;
  color: #000;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(69,69,69,1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(69,69,69,1);
  box-shadow: inset 0px 0px 0px 2px rgba(69,69,69,1);
}
}
@media screen and (min-width: 1000px) and (max-width: 1119px){
.container_24{
    margin-left: auto;
    margin-right: auto;
    width: 990px;
}
#cssmenu > ul > li > a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #282626;
    font-size: 13px;
    transition: all 0.5s ease 0s; 
    -webkit-transition: all 0.5s ease 0s;
}
.header1 .cari .input{
  float: right;
  width: 120px;
  height: 36px;
  background: #FFF;
  padding-left: 10px;
  border: none;
  font-family: 'Arial-BoldMT';
  font-size: 12px;
  color: #000;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(69,69,69,1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(69,69,69,1);
  box-shadow: inset 0px 0px 0px 2px rgba(69,69,69,1);
}
}



